{include file="common/header" /}
<title>企业管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 企业管理 <span class="c-gray en">&gt;</span> 企业基本信息 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form action="{:U('enterprise/index')}" method="get">
        <div class="text-c">
            企业名称：<input type="text" class="input-text" style="width:250px" placeholder="输入企业名称" id="name" name="name">
            状态：<span class="select-box inline">
            <select name="status" id="status" class="select">
                <option value="">-请选择-</option>
                <option value="0">审核通过</option>
                <option value="2">待审核</option>
                <option value="3">审核不通过</option>
            </select>
        </span>
            <button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 查询</button>
        </div>
    </form>
    <br>
    <table class="table table-border table-bordered table-hover table-bg">
        <thead>
        <tr class="text-c">
            <th>公司名称</th>
            <th>公司地址</th>
            <th>联系电话</th>
            <th>激活人数</th>
            <th>录入指静脉人数</th>
            <th>员工数</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list.results" id="vo"}
        <tr class="text-c">
            <td>{$vo.name}</td>
            <td>{$vo.provinceName}{$vo.cityName}{$vo.districtName}{$vo.address}</td>
            <td>{$vo.teliphone}</td>
            <td>{$vo.activateNum}</td>
            <td>{$vo.venousRecordNum}</td>
            <td>{$vo.scale}</td>
            <td>{switch name="vo.status"}
                {case value="0"}<span class="label label-success radius">审核通过</span>{/case}
                {case value="2"}<span class="label label-warning radius">待审核</span>{/case}
                {case value="3"}<span class="label label-danger radius">审核不通过</span>{/case}
                {/switch}</td>
            <td class="f-14">
                {if condition="$vo.status eq '2'"}
                <a title="审核" href="javascript:;" onclick="admin_role_edit('信息审核','{:U('enterprise/shows')}','{$vo.id}',1)" style="text-decoration:none">
                    <i class="Hui-iconfont Hui-iconfont-shenhe-weitongguo"></i>
                </a>
                {else /}
                <a title="查看" href="javascript:;" onclick="admin_role_edit('查看信息','{:U('enterprise/shows')}','{$vo.id}',1)" style="text-decoration:none">
                    <i class="Hui-iconfont Hui-iconfont-yulan"></i></a>
                {if condition="$vo.status eq '0'"}
                <a title="充值积分" href="javascript:;" onclick="admin_role_edit('充值积分','{:U('enterprise/shows')}','{$vo.id}',2)" class="ml-5" style="text-decoration:none">
                    <i class="Hui-iconfont Hui-iconfont-hongbao"></i>
                </a>
                <a title="重置密码" href="javascript:;" onclick="admin_role_del(this,'{$vo.id}')" class="ml-5" style="text-decoration:none">
                    <i class="Hui-iconfont Hui-iconfont-key"></i>
                </a>
                {/if}
                {/if}
                <!--<a title="重置密码" href="javascript:;" onclick="admin_role_del(this,'{$vo.id}')" class="ml-5" style="text-decoration:none">
                    <i class="Hui-iconfont Hui-iconfont-key"></i>
                </a>-->
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div id="pageNav" class="pageNav" total="{$total}"></div>
</div>
{include file="common/footer" /}
<script type="text/javascript">

    /*管理员-角色-编辑*/
    function admin_role_edit(title,url,id,tp,w,h){
        url=url+'?rid='+id+'&type='+tp;
        layer_show(title,url,w,h);
    }
    /*管理员-角色-删除*/
    function admin_role_del(obj,id){
        layer.confirm('密码重置须谨慎，确认要重置吗？',function(index){
            //此处请求后台程序，下方是成功后的前台处理……
            $.post("{:U('enterprise/pwd')}",{id:id},function (ref) {
                if(ref.code){
                    layer.msg(ref.msg,{icon: 2,time:1000});
                    return false;
                }else{
                    layer.msg('密码重置成功，密码初始化为888888',{icon:1,time:1000});
                }
            });
        });
    }
</script>
</body>
</html>