`   {include file="common/header" /}
<title>新增人员</title>
<style>
    label.error {
        color: #ef392b;
        float: right;
        font-size: 12px;
        margin-top: -30px;
        position: relative;
        top: 5px;
    }
    .input-text{
        display:block;
    }
    #hiredate-error{
        margin-right: 10px;
    }
</style>
<link rel="stylesheet" href="/static/uiadmin/lib/webuploader/0.1.5/webuploader.css" type="text/css">
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal" method="post" action="{:U('employe/doadd')}" id="form-admin-add">
        <div style="float: left;width: 75%;">
            <table class="table table-border table-bordered table-bg" style="width: 100%;">
                <tbody>
                <tr class="text-c">
                    <td style="text-align: right;"><font color="red">*</font>姓名</td>
                    <td style="text-align: left;"><input type="text" class="input-text" style="width:230px" id="name" name="name" maxlength="20"></td>
                    <td style="text-align: right;"><font color="red">*</font>工号</td>
                    <td style="text-align: left;"><input type="text" class="input-text" maxlength="20" placeholder="输入数字工号" style="width:230px" id="job_number" name="job_number"  ></td>
                </tr>
                <tr class="text-c">
                    <td style="text-align: right;"><font color="red">*</font>部门</td>
                    <td style="text-align: left;">
                        <span class="select-box inline">
                            <select name="department_id" id="department_id" class="select" style="width: 218px;">
                                <option value="">-请选择-</option>
                                {volist name="deplist" id="item" key="k"}
                                    <option value="{$item.id}" >{$item.name}</option>
                                {/volist}
                            </select>
                        </span>
                    </td>
                    <td style="text-align: right;"><font color="red">*</font>性别</td>
                    <td style="text-align: left;">
                        <span class="select-box inline">
                            <select name="sex" id="sex" class="select" style="width: 218px;">
                                <option value="0" >男</option>
                                <option value="1" >女</option>
                            </select>
                        </span>
                    </td>
                </tr>
                <tr class="text-c">
                    <td style="text-align: right;"><font color="red">*</font>职位</td>
                    <td style="text-align: left;">
                        <span class="select-box inline">
                            <select name="position" id="position" class="select" style="width: 218px;">
                                <option value="">-请选择-</option>
                                {volist name="poslist" id="item" key="k"}
                                <option value="{$item.name}" >{$item.name}</option>
                                {/volist}
                            </select>
                        </span>
                    </td>
                    <td style="text-align: right;">婚姻</td>
                    <td style="text-align: left;">
                        <span class="select-box inline">
                            <select name="marital_status" id="marital_status" class="select" style="width: 218px;">
                                <option value="0" >保密</option>
                                <option value="1" >未婚</option>
                                <option value="2" >已婚</option>
                            </select>
                        </span>
                    </td>
                </tr>
                <tr class="text-c">
                    <td style="text-align: right;">在职状态</td>
                    <td style="text-align: left;">
                        <span class="select-box inline">
                            <select name="status" id="status" class="select" style="width: 218px;">
                                <option value="0" >在职</option>
                                <option value="1" >离职</option>
                            </select>
                        </span>
                    </td>
                    <td style="text-align: right;">学历</td>
                    <td style="text-align: left;"><input type="text" class="input-text" maxlength="20" style="width:230px" id="qualifications" name="qualifications" ></td>
                </tr>
                <tr class="text-c">
                    <td style="text-align: right;"><font color="red">*</font>入职时间</td>
                    <td style="text-align: left;"><input id="hiredate" name="hiredate" maxlength="20" class="input-text Wdate" style="width:230px" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true,maxDate:'#F{\\$dp.\\$D(\'positive_date\')}'})" /></td>
                    <td style="text-align: right;">转正时间</td>
                    <td style="text-align: left;"><input id="positive_date" name="positive_date" maxlength="20" class="input-text Wdate" style="width:230px" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true,minDate:'#F{\\$dp.\\$D(\'hiredate\')}'})" /></td>
                </tr>
                <tr class="text-c">
                    <td style="text-align: right;">邮箱</td>
                    <td style="text-align: left;"><input type="text" class="input-text" maxlength="20" style="width:230px" id="email" name="email" ></td>
                    <td style="text-align: right;">生日</td>
                    <td style="text-align: left;"><input id="birthday" name="birthday" maxlength="20" class="input-text Wdate" style="width:230px" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" /></td>
                </tr>
                <tr class="text-c">
                    <td style="text-align: right;"><font color="red">*</font>手机</td>
                    <td style="text-align: left;"><input type="text" class="input-text" maxlength="20" style="width:230px" id="mobile" name="mobile" ></td>
                    <td style="text-align: right;">毕业院校</td>
                    <td style="text-align: left;"><input type="text" class="input-text" maxlength="20" style="width:230px" id="school" name="school" ></td>
                </tr>
                </tbody>
            </table>
            <span style="display: block;float: left;">
                <font color="red">
                    <p>备注：</p>
                    <p>1、员工的APP端登录账号和密码均默认为888888；</p>
                    <p>2、有HR权限的员工需重新登录APP HR权限才能生效。</p>
                </font>
            </span>
        </div>
        <div style="float: right;width: 25%;text-align: center;">
            <p><img src="/static/img/blank.png" width="200px;" height="145px;" id="avata_img"></p>
            <p>
                    <span id="imglist">更换头像</span>
            </p>
            <p>
                <br>
                <span class="inline"><input type="checkbox" id="isHr" name="isHr">&nbsp;&nbsp;设置为HR权限</span>
            </p>
        </div>
        <br>

        <div style="clear: both;text-align: center;padding-top: 50px;">
            <input type="hidden" value="" name="avata" id="avata">
            <input class="btn btn-success radius" type="submit" value="保&nbsp;存">
            <input class="btn btn-danger radius" type="button" onclick="cancel();" value="取&nbsp;消">
        </div>
    </form>
</article>
{include file="common/footer" /}
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/static/uiadmin/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="http://lib.h-ui.net/jquery.validation/1.14.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="http://lib.h-ui.net/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="http://lib.h-ui.net/jquery.validation/1.14.0/messages_zh.min.js"></script>
<script type="text/javascript" src="/static/uiadmin/lib/webuploader/0.1.5/webuploader.min.js"></script>
<!--/_footer /作为公共模版分离出去-->
<script type="application/javascript">
    function cancel(){
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    }

    var loading = '';
    $(document).ready(function(){
        jQuery.validator.addMethod("isJobNo", function(value,element) {
            var tt = /^[1-9]\d*$/;
            return tt.test(value);
        }, "请输入大于0的整数工号");
        jQuery.validator.addMethod("isMobile", function(value, element) {
            var length = value.length;
            return this.optional(element) || (length == 11 && /^(((13[0-9]{1})||(15[0-9]{1})||(14[0-9]{1})||(17[0-9]{1})||(18[0-9]{1}))+\d{8})$/.test(value));
        }, "请填写有效的手机号码");
        $("#form-admin-add").validate({
            rules: {
                name: {required: true},
                job_number: {required: true,digits:true,min:0,isJobNo:true
                    /*remote:{                                          //验证工号是否存在
                        type:"POST",
                        url:"{:U('employe/checkJobno')}",             //servlet
                        data:{
                            job_number:function(){return $("#job_number").val();}
                        }
                    }*/
                },
                department_id:{required: true},
                sex: {required: true},
                position:{required: true},
                hiredate: {required: true},
                mobile:{required: true, isMobile:true}
            },
            messages:{
                name:{required:"姓名不能为空"},
                job_number:{required:"请输入首位非0数字",digits:'请输入首位非0数字',min:'请输入首位非0数字'},
                department_id:{required:''},
                sex: {required: '性别不能为空'},
                position:{required: ''},
                hiredate: {required: '入职日期不能为空'},
                mobile:{required: '请填写有效的手机号码'}
            },
            onkeyup:false,
            focusCleanup:true,
            onfocusout:function(element){
                $(element).valid();
            },
            success:"valid",
            submitHandler: function (form) {
                $.post(form.action, $(form).serialize(), function (ref) {
                    if (ref.code) {
                        layer.msg(ref.msg);
                        return false;
                    } else {
                        layer.msg(ref.msg);
                        //sendmsg(ref.name, ref.mobile);
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.$('.btn-refresh').click();
                        window.parent.location.reload();
                        parent.layer.close(index);
                    }
                }, 'json');
            },
            invalidHandler: function (form, validator) {  //不通过回调
                return false;
            }
        });

        function sendmsg (name, mobile){
            $.ajax({
                url:"{:U('employe/sendmsg')}",
                type:"post",
                data:{"name":name, "mobile":mobile}
            });
        }

        // 图像上传
        var uploader = WebUploader.create({
            pick: {id: '#imglist', multiple: false,innerHTML: '更换头像'},
            auto: true,
            title: 'Images',
            swf: '/static/uiadmin/lib/webuploader/0.1.5/Uploader.swf',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*',
            server: "{:U('init/uploadimg')}",
            fileSingleSizeLimit: 2 * 1024 * 1024,
            fileSizeLimit: 2 * 1024 * 1024,
            thumb: {
                width: 200,
                height: 200,
                quality: 70,
                allowMagnify: true,
                crop: true,
                type: 'image/jpeg'
            },
            compress: {
                quality: 90,
                allowMagnify: false,
                crop: false,
                preserveHeaders: true,
                noCompressIfLarger: false,
                // 单位字节，如果图片大小小于300kb，不会采用压缩。
                compressSize: 300 * 1024
            },
            fileNumLimit: 1,
        });
        uploader.on('fileQueued', function (file) {
            uploader.makeThumb(file, function (error, ret) {
                if (error) {
                    layer.msg('浏览器不支持图片预览', {icon: 5});
                    return;
                } else {
                    $('#avata_img').attr('src', ret);
                }
            });
        });
        uploader.on('uploadStart', function () {
            loadind = layer.load(1, {shade: [0.8, '#393D49']});
        });
        uploader.on('uploadError', function (file, reason) {
            layer.close(loadind);
            layer.msg('图片上传错误[' + reason + ']', {icon: 5});
        });
        uploader.on('error', function (type) {
            if (type == 'Q_EXCEED_SIZE_LIMIT') {
                layer.msg('上传的图片不能超过2MB', {icon: 5});
            } else if (type == 'Q_EXCEED_NUM_LIMIT') {
                layer.msg('上传的图片只能上传一张', {icon: 5});
            } else if (type == 'Q_TYPE_DENIED') {
                layer.msg('上传的文件类型不对', {icon: 5});
            }
            return false;
        });
        uploader.on('uploadSuccess', function (file, data) {
            layer.close(loadind);
            if (data.code != '0') {
                layer.msg(data.msg, {icon: 5});
                return false;
            } else {
                layer.msg('图片上传成功！', {icon: 1});
                $('#avata').val(data.msg);
            }
        });
    });

</script>
</body>
</html>