{include file="common/header" /}
<title>新建网站角色 - 管理员管理 - H-ui.admin v2.3</title>
</head>
<body>
<article class="page-container">
    <form action="{:U('role/save')}" method="post" class="form form-horizontal" id="form-admin-role-add">
        <input type='hidden' name='rid' value='{$rid}'>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.name}" placeholder="" maxlength="20" id="name" name="name" nullmsg="角色名称不能为空">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">职能描述：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.remark}" maxlength="20" placeholder="" id="remark" name="remark">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色菜单：</label>
            <div class="formControls col-xs-8 col-sm-9">
                {volist name="menu" id="vo"}
                <dl class="permission-list">
                    <dt>
                        <label class="" title="{$vo.remarks}">
                            <input type="checkbox" {php} echo in_array($vo['id'],$checkmenu)?'checked':'';{/php} value="{$vo.id}" name="menus[]" id="{$vo.id}">
                            {$vo.name}</label>
                    </dt>
                    <dd>
                        {volist name="vo.sub" id="vos"}
                        <label class="" title="{$vos.remarks}">
                            <input type="checkbox" value="{$vos.id}" {php} echo in_array($vos['id'],$checkmenu)?'checked':'';{/php} name="menus[]" id="{$vos.id}">
                            {$vos.name}</label>
                        {/volist}
                    </dd>
                </dl>
                {/volist}
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button type="submit" class="btn btn-success radius" id="admin-role-save" name="admin-role-save"><i class="icon-ok"></i> 确定</button>
            </div>
        </div>
    </form>
</article>
{include file="common/footer" /}
<script type="text/javascript" src="/static/uiadmin/lib/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript">
    $(function(){
        $(".permission-list dt input:checkbox").click(function(){
            $(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
        });
        $(".permission-list dd input:checkbox").click(function(){
            var l =$(this).parent().parent().find("input:checked").length;
            var l2=$(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
            if($(this).prop("checked")){
                $(this).closest("dl").find("dt input:checkbox").prop("checked",true);
                $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
            }
            else{
                if(l==0){
                    $(this).closest("dl").find("dt input:checkbox").prop("checked",false);
                }
                /*if(l2==0){
                 $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
                 }*/
            }
        });

        /*$('#form-admin-role-add').validate({
            rules:{
                name:{
                    required:true
                }
            },messages:{
                name:{required:"角色名称不能为空"}
            },
            onkeyup: false,
            focusCleanup: true,
            onsubmit: true,
            success: "valid",
            submitHandler: function (form) {
                $.post(form.action, $(form).serialize(), function (ref) {
                   if(ref.status=='y') {
                        layer.msg(ref.msg);
                        var index = parent.layer.getFrameIndex(window.name);
                        window.parent.location.reload();
                        parent.layer.close(index);
                    }else{
                        layer.msg(ref.msg);
                        return false;
                    }
                }, 'json');
            },
            invalidHandler: function (form, validator) {  //不通过回调
                return false;
            }
        });*/

        $("#form-admin-role-add").Validform({
            rules:{
                name:{
                    required:true
                }
            },messages:{
                name:{required:"角色名称不能为空"}
            },
            onkeyup:false,
            focusCleanup:true,
            ajaxPost:true,
            success:"valid",
            callback:function(ref){
                if(ref.status=='y') {
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                }
            }
        });
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>